:root {
  padding-top: 70px;
}

.card.applicant {
  width: 200px;
  min-width: 200px;
}

.ui.items .item.disabled {
  opacity: 0.5;
}

.questions {
  margin-top: 24px;
}

.questions > .question:not(:last-child) {
  margin-bottom: 24px;
}

.question .body {
  margin-bottom: 4px;

  font-weight: bold;
}

.column.fixed-size {
  max-width: 450px;
}

.ui.meteor-modal {
  display: none;

  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  
  background-color: rgba(0, 0, 0, 0.870588);

  transition: opacity .1s linear;

  z-index: 101;
}

.ui.meteor-modal-content {
  position: fixed;
  top: 50%;
  left: 50%;

  transform: translateY(-50%);
}

.ui.meteor-modal.open {
  display: block;
}
