<div>
  <div class="ui container">
    <h1 class="ui header">Applications</h1>
    <div class="ui hidden divider"></div>
    <div class="ui toggle checkbox">
      <label>Show deleted</label>
      <input ng-change="ctrl.toggleDeleted()"
             ng-model="ctrl.showDeleted"
             type="checkbox">
    </div>
    <div class="ui divider"></div>
  </div>
  <div class="ui very relaxed divided items container">
    <div class="item"
         ng-class="{'disabled': application.deleted}"
         ng-repeat="application in ctrl.applications">
      <div class="ui tiny image">
        <img src="{{ ctrl.pictureForApplication(application) }}">
      </div>
      <div class="content">
        <div class="ui header">
          {{ application.name }}
          <a ng-show="ctrl.isAccepted(application)"
             class="ui teal horizontal small label">
            Accepted
          </a>
          <a ng-show="ctrl.isHold(application)"
             class="ui yellow horizontal small label">
            On Hold
          </a>
          <a ng-show="ctrl.isRejected(application)"
             class="ui red horizontal small label">
            Rejected
          </a>
        </div>

        <div class="meta">
          <span>Submitted at {{ application.craetedAt }}</span>
        </div>
        <div class="meta">
          <span class="email">{{ application.email }}</span>
          -
          <span class="phoneNumber">{{ application.phoneNumber | prettyPhoneNumber }}</span>
        </div>

        <div class="description">
          <section class="questions">
            <article class="question"
                     ng-repeat="other in application.other">
              <div class="body">
                {{ other.question }}
              </div>
              <div class="answer">
                {{ other.answer }}
              </div>
            </article>
          </section>
        </div>

        <div class="extra">
          <a class="ui right floated primary button" href="mailto:{{ application.email }}">
            Send Email
            <i class="right mail icon"></i>
          </a>
          <a class="ui right floated button"
             ng-click="ctrl.accept(application)"
             ng-show="!ctrl.isAccepted(application)">
            Accept
            <i class="right thumbs up icon"></i>
          </a>
          <a class="ui right floated button"
             ng-click="ctrl.reject(application)"
             ng-show="!ctrl.isRejected(application)">
            Reject
            <i class="right thumbs down icon"></i>
          </a>
          <a class="ui icon right floated button"
             ng-click="ctrl.remove(application)">
            <i class="trash icon"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
