<template name="newWeekly">
  <button
     id="new_weekly_open"
     class="ui {{ buttonClasses }} button">
    {{> UI.contentBlock}}
  </button>

  {{#if modalOpen}}
    {{# autoForm
      id="weeklyInsert"
      doc=doc
      type=autoFormType
      meteormethod=autoFormMethod
      collection="Weekly" }}

      <div class="ui meteor-modal {{ modalState }}">
        <div class="ui meteor-modal-content modal active">
          <i class="close icon"></i>
          <div class="header">
            New Week Plan
          </div>
          <div class="ui content">
            <div class="ui form">
              {{> afQuickField name='weekNumber'}}
              {{> afQuickField name='mentorId'}}
              {{> afQuickField name='startedAt'}}
              {{> afQuickField name='details'}}
              <div style="visibility: hidden">
                {{> afQuickField name='apprenticeId'}}
              </div>
            </div>
          </div>
          <div class="actions">
            <div class="ui black deny button">
              Nope, cancel
            </div>
            <button
              type="submit"
              class="ui positive right labeled icon button">
              This looks right
              <i class="checkmark icon"></i>
            </button>
          </div>
        </div>
      </div>
    {{/autoForm}}
  {{/if}}
</template>
